@page "/dashboard" 

<ExampleLayout VM="DashboardDoc">
    <VMContext VM="Dashboard" TState="IDashboardState" OnStateChange="UpdateState">
        @if (state == null)
        {
    <div class="spinner lds-hourglass" /> }
                        else
                        {
    <d-panel>
        <center><h2>ALLtrainMescla5D Dashboard</h2></center>
        <d-panel flex="100%" horizontal="true" wrap='true'>
            <d-panel>
                <InfoCard id="Download" Color="#1c8adb"></InfoCard>
            </d-panel>
            <d-panel>
                <InfoCard id="Upload" Color="#5cb85c"></InfoCard>
            </d-panel>
            <d-panel>
                <InfoCard id="Latency" Color="#f0ad4e"></InfoCard>
            </d-panel>
            <d-panel>
                <InfoCard id="Users" Color="#d9534f"></InfoCard>
            </d-panel>
        </d-panel>

        
        <d-panel horizontal="true">
            <d-panel flex="100%">
                <d-line-chart height="100px" id="Traffic" streaming="true" />
            </d-panel>
        </d-panel>

        <d-panel>
            <d-card>
                <d-panel horizontal='true'>
                    <d-panel flex='50%'>
                        
                        <d-bar-chart id="ServerUsage"></d-bar-chart>
                    </d-panel>
                    <d-panel flex='50%'>
                        
                        <d-pie-chart id='Utilization' />
                    </d-panel>
                </d-panel>
            </d-card>
        </d-panel>

    </d-panel>}
    </VMContext>
</ExampleLayout>

@code {
   private IDashboardState state;

   public class Activity
   {
       public int Id { get; set; }
       public string PersonName { get; set; }
       public string Status { get; set; }
       public int StatusId { get; set; }
   }

   public interface IDashboardState
   {
       Activity[] RecentActivities { get; set; }
   }

   private void UpdateState(IDashboardState state)
   {
       this.state = state;
       StateHasChanged();
   }
}